/*------------------------------------*\
  #CUSTOM-PROPERTIES
\*------------------------------------*/

:root {
  /* COLORS */

  --color--white: hsl(0, 0%, 100%);
  --color--black: hsl(0, 0%, 0%);
  --color--red: #ff4646;
  --color--grey--black: #474747;
  --color--grey--light: #e0e0e0;
  --color--grey: #8a8a8a;
  --color--beige: #f5f4f4;
  --color--beige--dark: #dadada;

  /* FONT */
  --font-primary-poppins: "Poppins", serif;
  --font-volkhob: "Volkhov", serif;
  --font-aldrich: "Aldrich", serif;
}

/*------------------------------------*\
    #RESET
  \*------------------------------------*/

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: var(--font-primary-poppins);
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

img {
  width: 100%;
  height: auto;
}

/*------------------------------------*\
    #COMPONENTS
\*------------------------------------*/

/* *********************************************************************************
-------------------------------------- BTN BURGER ----------------------------------
************************************************************************************* */

.row .three {
  padding: 80px 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #2c3e50;
  color: #ecf0f1;
  text-align: center;
}

.hamburger .line {
  width: 30px;
  height: 3px;
  background-color: var(--color--black);
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
  opacity: 1;
}

#hamburger-1.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1) {
  -webkit-transform: translateY(9px) rotate(45deg);
  -ms-transform: translateY(9px) rotate(45deg);
  -o-transform: translateY(9px) rotate(45deg);
  transform: translateY(9px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}

/********************************************************************
--------------------------------- HEADER ----------------------------
********************************************************************** */
.header {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
  background-color: var(--color--white);
}

.header__logo {
  width: 4rem;
  /* cambiar tamaño en desktop */
}

/****************\
  #Tablet - 640px - S
\****************/

@media (640px < width) {
  .header {
    position: sticky;
    top: 0;
    margin-inline: auto;
  }

  .header__btn {
    display: none;
  }

  .header__logo {
    width: 5rem;
  }
}

/******************\
  #Desktop - 1024px - L
  \******************/

@media (1023px < width) {
}

/*********************\
  #Desktop XL - 1280px - XL
  \*********************/

@media (1280px < width) {
  .header {
    width: 100%;
  }
}

/************************************************************************
--------------------------------- NAV -----------------------------------
************************************************************************** */

.header__nav {
  position: absolute;
  /* CAMBIAR A RELATIVE EN DESKTOP */
  left: 0;
  bottom: 103px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  opacity: 0;
  transition: opacity 0.2s ease-in;
  background-color: var(--color--white);
}

.header__nav--active {
  opacity: 1;
}

.header__link {
  text-decoration: none;
  margin-block: 0.4rem;
  padding-block: 0.3rem;
  color: var(--color--black);
  width: 50%;
  text-align: center;
  font-size: 0.8rem;
}

.header__link--border {
  border-block-end: 3px solid var(--color--white);
  transition: border 0.3s ease-in;
}

.header__link--signup {
  margin-block: 0.8rem;
  padding-block: 0.2rem;
  padding-inline: 0.8rem;
  color: var(--color--white);
  background-color: var(--color--black);
  border-radius: 0.3rem;
  font-weight: 300;
}

/****************\
  #Tablet - 640px - S
\****************/

@media (640px < width) {
  .header__nav {
    position: relative;
    bottom: 0;
    flex-direction: row;
    justify-content: space-around;
    width: 27rem;
    opacity: 1;
  }

  .header__link {
    width: max-content;
  }
}

/******************\
  #Desktop - 1024px - L
  \******************/

@media (1023px < width) {
  .header__nav {
    width: 35rem;
  }

  .header__link {
    border-radius: 5px;
    padding-inline: 0.4rem;
    padding-block: 0;
  }

  .header__link--signup {
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    -webkit-box-shadow: 0px 11px 28px -2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 11px 28px -2px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 11px 28px -2px rgba(0, 0, 0, 0.4);
  }

  .header__link--border:hover {
    border-block-end: 3px solid var(--color--beige--dark);
  }
}

/*********************\
  #Desktop XL - 1280px - XL
  \*********************/

@media (1280px < width) {
  .header {
    padding-inline: 1.5rem;
  }
  .header__nav {
    width: 39rem;
  }
}

.container {
  display: flex;
  justify-content: center;
}

/*************\
  #4K - 1536px - XXL
  \*************/

@media (1600px < width) {
  .header__nav {
    width: 38rem;
  }
}

/************************************************************************
--------------------------------- HOME -----------------------------------
************************************************************************** */

.btn {
  padding: 0.5rem 1.5rem;
  font-size: 0.65rem;
  font-weight: 500;
  background-color: var(--color--black);
  border: none;
  border-radius: 7px;
  color: var(--color--white);
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.home__brands {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
  align-items: center;
  padding: 0 3rem;
  margin-block-start: 4rem;
}

.home__brand {
  width: 6rem;
  /* width: 7rem;
  height: auto; */
}

.home__images {
  display: grid;
  justify-content: center;
  margin-block: 2rem;
  margin-inline: 0.75rem;
  width: 80%;
}

.home__image--img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home__image--desktop {
  display: none;
}

.home__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 1rem;
}

.home__text {
  margin-block: 1rem;
  color: var(--color--grey--black);
  font-size: 1rem;
}

.home__title {
  font-size: 3rem;
  font-weight: 500;
  color: var(--color--grey--black);
}

.home__subtitle {
  font-size: 5rem;
  color: var(--color--white);
  line-height: 4rem;
  -webkit-text-stroke-color: var(--color--grey--black);
  -webkit-text-stroke-width: 1px;
}

/******************\
  #Desktop - 1024px - L
  \******************/

@media (1024px < width) {
  .home__brands {
    width: 80%;
    padding: 0;
    gap: 2rem;
  }

  .home__images {
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: stretch;
    height: 600px;
  }

  .home__image--desktop {
    display: flex;
    align-items: end;
    justify-content: center;
    background-color: var(--color--grey--light);
    border-radius: 10px;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .home__image--desktop--end {
    width: 70%;
  }

  .home__image--img {
    grid-column-start: 2;
    grid-column-end: 3;
    align-self: stretch;
    grid-row-start: 1;
    grid-row-end: 4;
  }
}

/*********************\
  #Desktop XL - 1280px - XL
  \*********************/

@media (1279px < width) {
  .home {
    margin-top: 0;
  }

  .home__brand {
    width: 7.9rem;
  }

  .home__images,
  .home__brands {
    width: 60%;
  }
}

/***********************************************************************************************
--------------------------------- SECTION // OFFER - GALLERY -----------------------------------
************************************************************************************************ */

.offers--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  margin-block: 5rem;
  padding-inline: 2rem;
  padding-block-start: 7.6rem;
  padding-block-end: 7rem;
  background-color: var(--color--beige);
}

.offers__date {
  margin-block-start: 3.125rem;
}

.offers__date__title {
  margin-block-end: 1rem;
  font-weight: 500;
  font-size: 1rem;
}

.offers__date__hours {
  display: flex;
  gap: 0.75rem;
}

.date__hours__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
}
.date__hours__details p:nth-child(1) {
  padding: 0.85rem;
  font-size: 1.5rem;
  border-radius: 5px;
  background-color: var(--color--white);
  font-family: var(--font-aldrich);
  font-size: 1.25rem;
  -webkit-box-shadow: -1px 0px 14px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 0px 14px -5px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 0px 14px -5px rgba(0, 0, 0, 0.75);
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.gallery__carousel {
  width: 250px;
  height: 350px;
  overflow: hidden;
}

.gallery__images {
  display: flex;
  width: 300%;
  height: 100%;
}

.gallery__slider {
  width: calc(100% / 3);
}

.gallery__slider img {
  height: 100%;
  object-fit: cover;
}

.gallery__btn path {
  fill: black;
}

.gallery__btn {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.gallery__btn svg {
  background-color: var(--color--white);
  border-radius: 50%;
  padding: 0.5rem;
  -webkit-box-shadow: -1px 0px 14px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 0px 14px -5px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 0px 14px -5px rgba(0, 0, 0, 0.75);
}

.offers__time {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-block-end: 1.4rem;
  font-family: var(--font-volkhob);
  font-weight: 400;
  font-size: 1.5rem;
}

.offers__text {
  margin-block-end: 2.5rem;
  font-size: 0.9rem;
  font-weight: 400;
  text-align: center;
}

/******************\
  #Tablet L - 768px - M
  \******************/

@media (768px < width) {
  .offers__time {
    width: 500px;
  }
}

/******************\
  #Desktop - 1024px - L
  \******************/

@media (1023px < width) {
  .offers--container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-inline: 4rem;
    padding-block-start: 4.6rem;
    padding-block-end: 5rem;
  }

  .offers__title {
    font-size: 2.5rem;
  }

  .offers__time {
    width: 400px;
    height: 572px;
    justify-content: center;
    align-items: flex-start;
  }

  .offers__text {
    text-align: start;
    font-size: 1rem;
  }

  .gallery__carousel {
    width: 400px;
    height: 500px;
  }
}

/*********************\
  #Desktop XL - 1280px - XL
  \*********************/

@media (1280px < width) {
  .offers--container {
    padding-inline: 12rem;
  }
}

/***********************************************************************************
--------------------------------- SECTION // CARDS -----------------------------------
************************************************************************************** */
.card {
  width: 16rem;
  padding: 1rem;
  border-radius: 0.65rem;
  overflow: hidden;
  -webkit-box-shadow: 0px 24px 100px -45px rgba(125, 123, 123, 0.75);
  -moz-box-shadow: 0px 24px 100px -45px rgba(125, 123, 123, 0.75);
  box-shadow: 0px 24px 100px -45px rgba(93, 93, 93, 0.75);
}

.card__image {
  width: 100%;
  height: 180px;
  overflow: hidden;
  border-radius: 10px;
}

.card__image img {
  height: 190%;
  object-fit: cover;
}

.card__image--position img{
  height: 100%;
}

.card__image--position--05 img{
  height: 120%;
  object-position: 100%;
}

.card__image--position--06 img {
  height: 124%;
  object-position: 5%;
}

.card__message {
  font-size: .5rem;
  color: var(--color--red);
}

.card__ranking {
  display: flex;
  justify-content: space-between;
  margin-block-start: .75rem;
}

.card__price {
  font-size: 1rem;
}

.card__price::before {
  content: "$";
}

.card__reviews {
  margin-block: 1rem;
  font-size: .65rem;
  font-weight: 500;
  color: var(--color--grey--black);
}

.card__sale {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 1.25rem;
}

.card__score {
  display: flex;
  gap: .12rem;
}



.cards__btns {
  display: none;
}


.cards__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-block: 2rem;
}

.cards__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 83%;
}

.cards__text {
  font-size: 0.9rem;
  text-align: center;
}

.description__title {
  font-weight: 500;
  font-size: .8rem;
}

.description__subtitle {
  color: var(--color--grey);
  font-weight: 400;
  font-size: .6rem;
}

/******************\
  #Tablet L - 768px - M
  \******************/

@media (768px < width) {
  .cards__btns {
    display: flex;
  }

  .cards__card {
    gap: 3.75rem;
  }
  .cards__content {
    max-width: 38.25rem;
  }
}

/******************\
  #Desktop - 1024px - L
  \******************/

@media (1024px < width) {
  .cards__container {
    padding-block: 4rem;
  }

  .cards__content {
    max-width: 58rem;
  }

  .cards__title {
    font-size: 2.5rem;
  }

  .cards__text {
    max-width: 614px;
    font-size: 1rem;
    text-align: center;
  }
}

/* -----------------------------------------********************************---------------------------------- */
/****************\
  #Tablet - 640px - S
\****************/

@media (640px < width) {
}

/******************\
  #Tablet L - 768px - M
  \******************/

@media (768px < width) {
}

/******************\
  #Desktop - 1024px - L
  \******************/

@media (1024px < width) {
}

/*********************\
  #Desktop XL - 1280px - XL
  \*********************/

@media (1280px < width) {
}

/*************\
  #4K - 1536px - XXL
  \*************/

@media (1600px < width) {
}

/*------------------------------------*\
  #SITE-STYLES
  \*------------------------------------*/

/***************\
  #Mobile - 320px - XS
  \***************/

/****************\
  #Tablet - 640px - S
  \****************/

@media (640px < width) {
}

/******************\
  #Tablet L - 768px - M
  \******************/

@media (768px < width) {
}

/******************\
  #Desktop - 1024px - L
  \******************/

@media (1024px < width) {
}

/*********************\
  #Desktop XL - 1280px - XL
  \*********************/

@media (1280px < width) {
}

/*************\
  #4K - 1536px - XXL
  \*************/

@media (1600px < width) {
}

/*------------------------------------*\
  #UTILITIES
\*------------------------------------*/
/***************\
  #Mobile - 320px - XS
  \***************/

.display__none {
  display: none;
}

/****************\
  #Tablet - 640px - S
  \****************/

@media (640px < width) {
}

/******************\
  #Tablet L - 768px - M
  \******************/

@media (768px < width) {
}

/******************\
  #Desktop - 1024px - L
  \******************/

@media (1024px < width) {
}

/*********************\
  #Desktop XL - 1280px - XL
  \*********************/

@media (1280px < width) {
}

/*************\
  #4K - 1536px - XXL
  \*************/

@media (1600px < width) {
}
